body {
    background: #FFF;
    font-family: serif, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    margin: 0;
    padding-top: 0px;
    padding-left: 50px;
    color: #000;
}

h1{
    color: #000;
    font-family: serif, sans-serif;
    font-size: 24px;
    font-weight:bold;
}

h2{
    color: #000;
    font-family: serif, sans-serif;
    font-size: 20px;
    font-weight:normal;
}

h4{
    color: #000;
    font-family: serif, sans-serif;
    font-size: 18px;
    font-weight:normal;
}

h6{
    color: #000;
    font-family: serif, sans-serif;
    font-size: 18px;
    font-weight:normal;
    -webkit-margin-before: 2.33em;
    -webkit-margin-after: 0.33em;
}

pre{
    color:#000;
    font-family: 'Times New Roman', serif;
    font-size: 12px;
    font-weight:normal;
}

blockquote{
    color: #000;
    font-family: serif, sans-serif;
    font-size: 20px;
    font-weight:normal;
}

p {
 max-width: 800px;   
}

a {
    color: #0000ff;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: red;
    text-decoration:underline;

}

a:active {
    color: #000;
}

a:visited {
    color: #92C5E4;
}


img, video, audio, iframe {
    max-width: 100%;   
}

#main_container {
    margin: 100px auto;
    margin-left: 120px;
    width: 800px;
    max-width: 90%;
}

.item_container {
    margin-top: 30px;
    margin-bottom: 30px;
}

