body {
    background: #2f69c6;
    font-family: "Menlo", arial, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0;
    padding-top: 0px;
    padding-left: 50px;
    color: #FFF;
}

h1{
    color: #FFF;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 24px;
    font-weight:normal;
}

h4{
    color: #FFF;
    font-family: 'Menlo', sans-serif;
    font-size: 18px;
    font-weight:normal;
}

blockquote{
    color: #FFF;
    font-family: Menlo, 'Arial Rounded MT Bold', sans-serif;
    font-size: 20px;
    font-weight:normal;
}

p {
 color: #FFF;
 font-family: Menlo, 'Arial Rounded MT Bold', sans-serif;   
 max-width: 800px;   
}

a {
    color: #ffff00;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: red;
    text-decoration:underline;

}

a:active {
    color: #000;
}

a:visited {
    color: #92C5E4;
}


img, video, audio, iframe {
    max-width: 100%;   
}

#main_container {
    margin: 100px auto;
    margin-left: 120px;
    width: 800px;
    max-width: 90%;
}

.item_container {
    margin-top: 30px;
    margin-bottom: 30px;
}

